<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.css">




  </head>
  <body>
  </body>

  <script src="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.js"></script>
  <script src="http://cdn.jsdelivr.net/zurb/foundation-apps-1.1.0.min.js"></script>

  <script src="http://cdn.jsdelivr.net/zurb/foundation-apps-templates-1.1.0.js"></script>
  <script src="http://cdn.jsdelivr.net/zurb/foundation-apps-templates-1.1.0.min.js"></script>
  

  <script src='/javascripts/build/react.js'></script>
  <script src= '/javascripts/build/worksheet.js'></script>
  <script src= '/javascripts/build/fields-and-states.js'></script>
  <script src= '/javascripts/build/prop-play.js'></script>
  <script src= '/javascripts/build/todo.js'></script>

</html>
